<mat-toolbar color="primary">
  <a routerLink="/" matTooltip="Open main page" class="home-link">E-shop</a>

  <div class="d-flex flex-fill"></div>

  <!-- Account btn -->
  <button
    [matMenuTriggerFor]="menu"
    matTooltip="Open account menu"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Cart btn -->
  <button routerLink="cart" matTooltip="Go to cart" mat-icon-button>
    <mat-icon [matBadge]="totalInCart$ | async" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a routerLink="admin/orders" mat-menu-item>Manage orders</a>
  <a routerLink="admin/products" mat-menu-item>Manage products</a>
</mat-menu>
